/.metadata
petrophysics/
plot/
RemoteSystemsTempFiles/
statics/
!*/statics/types/logtype_example.py
!*/statics/types/logtype_test.py
totaldepth/
.metadata.tar.gz
.project
.pydevproject
logfile.log
logging_old.conf
parser.out
parsetab.out
*.pyc