/.metadata
petrophysics/
plot/
RemoteSystemsTempFiles/
!statics/types/logtype_example.py
!statics/types/tests/logtype_test.py
statics/
totaldepth/
.metadata.tar.gz
.project
.pydevproject
logfile.log
logging_old.conf
parser.out
parsetab.out
*.pyc